#titolo
{

    height: 350px;
    width: 100%;
    margin: auto;
    text-align: center;
    color:orangered;

}


#centro
{

    width: 100%;
    height: 60%;
    margin: auto;
    
}

#coloreusername
{

    

}

#colorepassword
{



}

#coloreruolo
{


    
}